<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQKh7-lMynaf57_x5WOXmkJa14uvM9Aqw</string>
	<key>GCM_SENDER_ID</key>
	<string>580821940359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stokvel.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stokvel-493c3</string>
	<key>STORAGE_BUCKET</key>
	<string>stokvel-493c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580821940359:ios:19b1789cee3a8ee3c92022</string>
</dict>
</plist>